@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Create Icons from Images</h2>

        @if (ViewBag.Error != null)
        {
            <h4 style="color:red">@ViewBag.Error</h4>

        }
        @if (ViewBag.Success != null)
        {<h4 style="color:green">@ViewBag.Success</h4>}


        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>Upload Image</div>
            @*             <input type="file" name="avatar" /> *@
            <div class="input-group col-md-6">
                <span class="input-group-btn">
                    <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input name="avatar" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                </span>
                <span class="form-control"></span>
            </div>
            <div class="input-group col-md-6 " style="margin-top: 10px;">
                <input type="submit" class="btn btn-primary" value="upload" />
               
            </div>
        }
        @if (ViewBag.FileName != null)
        {
            @Html.ActionLink("Go to Download Files", "About", new { fileName = ViewBag.FileName})

        }
    </div>
</div>